DB_URL=jdbc:postgresql://localhost:5432/motoparts
DB_USERNAME=postgres
DB_PASSWORD=root
JWT_SECRET=MyVeryLongSecretKeyForMotoParts2025ProjectMinimum256Bits
RAZORPAY_KEY_ID=rzp_test_SPConmPzC1FVFJ
RAZORPAY_KEY_SECRET=Tbw1kWl8T4HZbbcyIosLtNu6
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
BREVO_API_KEY=your_brevo_api_key